<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sburba.tvdbapi.example"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MyTVSeriesActivity"
            android:label="@string/app_name" >
        </activity>

        <activity android:name=".SeasonListActivity" />
        <activity android:name=".EpisodeListActivity" />
        <activity android:name=".SeriesListActivity" />

        <activity
            android:name=".search_TV"
            android:label="@string/app_name"
            android:parentActivityName=".MyTVSeriesActivity" >
        </activity>

        <activity
            android:name=".episodeInfo"
            android:label="@string/app_name" />

        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test" />

        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" />

        <receiver android:name=".UpdateReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
